{% extends 'base.html' %}

{% block title %}Chart 3{% endblock %}

{% block api %}
<div class="links"><a class="btn" href="{% url 'extra_runs_per_team_in_2016' %}">API</a>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    Highcharts.chart('chart', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Extra Runs per Team in 2016'
        },
        xAxis: {
            categories: {{ teams| safe }}
            },
        yAxis: {
        title: {
            text: 'Extra Runs'
        }
    },
        series: [{
            name: 'Teams',
            data: {{ extra_runs }}
            }]
        });
</script>
{% endblock %}