{% extends 'base.html' %}

{% block title %}Chart 1{% endblock %}

{% block api %}
<div class="links"><a class="btn" href="{% url 'matches_per_season' %}">API</a>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    Highcharts.chart('chart', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Matches per Season'
        },
        xAxis: {
            categories: {{ seasons }}
            },
        yAxis: {
        title: {
            text: 'Total Matches'
        }
    },
        series: [{
            name: 'Teams',
            data: {{ total_matches }}
            }]
        });
</script>
{% endblock %}